@font-face { font-family: Mokoto; src: url('/fonts/mokoto.ttf'); }
@font-face { font-family: Betm; src: url('/fonts/betm.ttf'); }

html, body {
    --main-color: #ed3f1c;
    margin: 0;
    height: 100%;
    font-family: 'Betm';
}

body {
    display: flex;
}

main {
    margin: 0;
    max-width: 100%;
}

header {
    opacity: 95%;
}

.full-size {
    width: 100%;
    height: 100%;
}

.main-video {
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.slice {
    height: 300px;
    margin-top: 100px;
    overflow: hidden;
}

.slice h1 {
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 15%;
}

.slice div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 85%;
}

.slice div * {
    width: auto;
    max-height: 85%;
    max-width: 40%;
    font-size: 1em;
}

.button-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list a {
    width: 200px;
    height: 65px;
    margin: 10px 15px;
    border-radius: 6px;
    border: none;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
}

.button-list a:last-child {
    background-color: var(--main-color);
    color: var(--bs-body-color);
}
}

.button-list a::before {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: blur(1.5em);
    z-index: -1;
    background-color: var(--bs-body-color);
    opacity: 0.3;
}

.mokoto {
    font-family: 'Mokoto'; 
}

.title {
    font-size: 3em;
}

.code {
    font-size: 2em;
}

.main-footer {
    width: 100%;
    padding: 0px 5em;
}

.main-image {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.flex-grow-even {
    flex-grow: 1;
}

.flex-shrink-even {
    flex-shrink: 1;
}

.flex-both {
    flex-grow: 1;
    flex-shrink: 1;
}

.bg-main {
    background-color: #db4d0f;
}

header .nav-item {
    width: 100%;
}

header .nav-link:hover {
    background-color: var(--bs-secondary-bg);
}

footer .nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .main-image {
        display: None;
    }

    .code {
        font-size: 1.5em;
    }
}

@media (max-width: 600px) {
    footer ul.nav {
        display: None;
    }

    footer p {
        text-align: center;
        width: 100%;
    }

    .slice div img {
        display: none;
    }
    
    .code {
        font-size: 1em;
    }

    .button-list {
        flex-direction: column;
    }

    .button-list a {
        width: 100%;
    }
}
