@font-face { font-family: Mokoto; src: url('/fonts/mokoto.ttf'); }
@font-face { font-family: Betm; src: url('/fonts/betm.ttf'); }

html, body {
    --main-color: rgb(237, 63, 28);
    --main-border: rgba(237, 63, 28, 0.5);
    margin: 0;
    height: 100%;
    font-family: 'Betm';
}

body {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    max-width: 100%;
}

header {
    opacity: 95%;
}

.fixed {
    position: fixed;
}

.bottom {
    bottom: 0;
}

.hidden {
    display: none !important;
}

.highlight {
    color: var(--main-color);
}

.full-size {
    width: 100%;
    height: 100%;
}

.main-video {
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.slice {
    height: 300px;
    margin-bottom: 100px;
    overflow: hidden;
}

.slice h1 {
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 15%;
}

.slice div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 85%;
}

.slice div * {
    width: auto;
    max-height: 85%;
    max-width: 40%;
    font-size: 1em;
}

.button-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list a {
    width: 200px;
    height: 65px;
    margin: 10px 15px;
    padding: 0em 0.1em;
    border-radius: 6px;
    border: none;
    font-size: auto;
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
    transition: width 0.1s ease-in-out;
}

.button-list a:hover {
    width: 220px;
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    color: var(--bs-body-bg);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    display: none !important;
}

.btn-close:focus {
    display: none !important;
}

.button-list a::before {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: blur(1.5em);
    z-index: -1;
    background-color: var(--bs-body-color);
    opacity: 0.3;
}

.button-list a:last-child {
    background-color: var(--main-color);
    color: var(--bs-body-color);
}

.button-list a:last-child::before {
    background-color: var(--main-color);
}

.mokoto {
    font-family: 'Mokoto'; 
}


.code {
    font-size: 2em;
}

.main-footer {
    width: 100%;
    padding: 0px 5em;
}

.main-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px 0px;
}

.title {
    font-size: 4.5em !important;
    opacity: 1 !important;
}

.drop {
    margin-top: 2em !important;
}

.main-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-text {
    width: 75%;
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
    opacity: 0.8;
}

.flex-grow-even {
    flex-grow: 1;
}

.flex-shrink-even {
    flex-shrink: 1;
}

.flex-both {
    flex-grow: 1;
    flex-shrink: 1;
}

.bg-main {
    background-color: #db4d0f;
}

.image-list {
    display: flex;
    padding: 50px 15px;
    justify-content: space-between;
    align-items: center;
}

.image-list * {
    width: 12.5%;
    height: auto;
}

header .nav-item {
    width: 100%;
}

header .nav-link {
    padding: 5px 10px;
    transition: padding 0.1s ease-in-out;
}

header .nav-link:hover {
    padding-left: 20px;
    background-color: var(--bs-secondary-bg);
}

footer .nav-link:hover {
    text-decoration: underline;
}

form {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form button.btn {
    background-color: var(--main-color);
}

form button.btn:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    background-color: var(--main-color);
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 .15rem var(--main-border);
}

@media (max-width: 1000px) {
    .main-image {
        display: None;
    }

    .title {
        width: 100% !important;
        margin-top: none;
    }

    .code {
        font-size: 1.5em;
    }

    form {
        width: 100%;
    }

    .image-list {
        padding: 15px 0px;
    }

    footer ul.nav {
        display: None;
    }

    footer p {
        text-align: center;
        width: 100%;
    }

    .main-text {
        width: 80%;
        font-size: 1.2em;
    }
}

@media (max-width: 800px) {
    .title {
        font-size: 3.25em !important;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 2.5em !important;
    }

    .slice div img {
        display: none;
    }
    
    .code {
        font-size: 1em;
    }

    .button-list {
        flex-direction: column;
    }

    .button-list a {
        width: 100%;
    }

    .button-list a:hover {
        width: 100%;
    }

    .main-text-container {
        align-items: start;
    }

    .main-text {
        margin-left: 10px;
        text-align: left;
    }

    .offcanvas {
        width: 100% !important;
    }

    .drop {
        margin-top: None !important;
    }
}
